@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --color-1: #2c2c2e;
  --color-white: #ffffff;
  --color-3: #6c757d;
  --color-4: yellow;
}

/* ELEMENTS */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* CLASSES, ID's */
.nav-containerMB { display: none;}

.nav-container {
  background-color: var(--color-1);
  height: 80px;
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 10;
}

.nav-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-main a {
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;
}

.menu-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  margin: 10px;
  font-size: 20px;
}

.nav-main a:hover {
  color: var(--color-4);
}

.nav-brand {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.container {
  /*min-width: 1100px;*/
  margin: 0 auto;
}

.profile-container {
  background-color: var(--color-3);
  color: var(--color-white);
  padding: 110px 0 60px 0;
}

.pf-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pf-cont1 {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pf-cont2 {
  width: 575px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pf-cont2 a {
  color: var(--color-white);
  font-weight: bold;
}

.pf-cont2 a:hover {
  color: var(--color-4);
}

.profile-title {
  margin: 35px 0 0 0;
  font-size: 32px;
  margin: 10px 0;
  text-align: center;
}

.profile-description {
  margin: 0;
  font-size: 24px;
  text-align: justify;
}

.portfolio-title{
  font-size: 44px;
  text-align: center;
  color: var(--color-1);
  margin: 30px 0;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 350px;
}

.card img {
  width: 100%;
  height: 250px;
}
.card h4 {
  margin-top: 30px;
  font-size: 24px;
}
.cor {
  color: var(--main-color);
}
.card p {
  width: 90%;
  font-size: 20px;
}
.card a {
  margin: 12px;
}

.card .btn { font-size: 20px;}

.modal-dialog { min-width: 850px;}

.modal-title { font-size: 28px;}
.modal-body { font-size: 20px;}

.modal-body img {
  width: 30px;
  height: 30px;
}
.modalferr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  max-height: 250px;
}

.modalferr div { margin: 20px;}

.about-container {
  background-color: var(--color-3);
  color: var(--color-white);
  margin-top: 30px;
}

.about-container-infos {
width: 1000px;
margin: 0 auto;
}

.about-title { font-size: 44px;
  text-align: center;
  color: var(--color-white);
  padding: 20px 0;
  margin: 0;
}

.col-xl-6 { padding-bottom: 20px;}

.accordion-body { color: var(--color-1);
text-align: justify;
font-size: 20px;
}

.accordion-body img { width: 30px; height: 30px; margin: 10px;}

.accordion-body a { text-decoration: none;
color: var(--color-1); display: flex;
align-items: center;}

.accordion-header .accordion-button { font-size: 24px;}
.accordion-body a:hover { color: blue;}

.respImgComp {width: 40px;}

footer {
  background-color: var(--color-1);
  height: 80px;
  width: 100%;
  padding: 20px;
}

.tks { font-size: 16px;
color: var(--color-white);
text-align: center;
margin:10px;}

@media (max-width: 992px) {
  .nav-containerMB {
    display: none;}
  .nav-brand { font-size: 20px; }
  .menu-items li { font-size: 16px; }
  .profile-title { font-size: 28px; }
  .profile-description { font-size: 20px; }
  .pf-cont1 { width: 234px; }
  .pf-cont2 { width: 373px; }
  .portfolio-title{ font-size: 26px;
    margin: 20px 0; }
  .card { width: 230px; }
  .card img { height: 165px}
  .card h4 { margin-top: 20px;
    font-size: 22px; }
  .card p {font-size: 16px; }
  .card .btn { font-size: 16px;}
  .modal-title { font-size: 28px;}
  .modal-body { font-size: 20px; }
  .modal-body img { width: 30px;
    height: 30px; }
  .about-title { font-size: 26px; }
  .col-lg-9 { padding-bottom: 20px;}
  .accordion-header .accordion-button { font-size: 22px;}
}

@media (max-width: 768px) {
  .nav-container { height: 100px;
    padding: 15px; }
  .nav-main { flex-direction: column; }
  .nav-main a {margin: 0 25px; }
  .menu-items li { font-size: 16px; margin: 10px;}
  .pf-container { flex-direction: column; }
  .profile-title { font-size: 22px; }
  .profile-description { font-size: 18px; }
  .pf-cont1 img { width: 100px;}
  .portfolio-title{ font-size: 22px;
    margin: 15px 0; }
  .card { margin: 10px;}
  .card h4 { margin-top: 20px;
      font-size: 18px; }
  .card p {font-size: 14px; }
  .card .btn { font-size: 14px;}
  .modal-dialog { min-width: 535px;}
  .modal-title { font-size: 22px;}
  .modal-body { font-size: 16px; }
  .modalferr { max-height: 300px};
  .modal-body img { width: 30px;
      height: 30px; }
  .about-title { font-size: 22px; }
  .col-lg-9 { padding-bottom: 15px;}
  .accordion-header .accordion-button { font-size: 20px;}
  .accordion-body { font-size: 16px;}
  .respImgComp {width: 30px;}
}

@media (max-width: 576px) {

  /* .menu-items-hamb {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 130px;
  }
  .menu-items-hamb li {
    font-size: 14px;
    margin: 5px 0px;
    padding: 0px;
    
  }
  
  .menu-items-hamb li a {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
  } */
  
  .nav-container { display: none; }
  .container-mb { margin: 0 auto; }
  .nav-containerMB { display: inline;
    height: 180px;
    background-color: var(--color-1);
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 10;
  }

  .nav-main-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-main-mb a {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
  }
  .menu-items-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 5px 0px;
    margin: 0px;
  }
  .menu-items-mb li {
    font-size: 14px;
    margin: 5px 0px;
    padding: 0px;
  }
  .nav-main-mb a:hover {
    color: var(--color-4);
  }
  .nav-brand-mb {
    font-size: 16px;
    font-weight: bold;
  }
  .profile-container { padding: 170px 0 60px 0; }
  .profile-description { font-size: 16px; }
  .pf-cont1 { width: 277px; }
  .pf-cont1 img { width: 75px;}
  .pf-cont2 { width: 277px; }
  .card { height: 290px;
    width: 127px;
    margin: 5px;}
  .card img { height: 92px;
  width: 127px;}
  .card h4 { margin-top: 10px;
    font-size: 16px; }
  .card p {font-size: 12px; margin: 0px;}
  .card .btn { font-size: 14px;}
  .modal-dialog { min-width: 300px;
  min-height: 500px;}
  .modal-title { font-size: 14px;}
  .modal-body { font-size: 12px; }
  .modalferr div { margin: 10px;}
  .modal-body img { width: 20px;
      height: 20px; }
  .accordion-header .accordion-button { font-size: 16px;}
  div.accordion-body { font-size: 14px; padding: 8px 10px;}
  .accordion-body img { width: 20px; height: 20px; margin: 4px;}
  .respImgComp {width: 25px;}
}
